@import "./scss-utils/_variables";
@import "./scss-utils/_mixin";
@import "./base/_reset";
@import "./layout/_header";
@import "./layout/reburials-code";
@import "./layout/_grid";
@import "./layout/_footer";
.main{
    background-image: url("../img/icons/bacground-image.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}
.organization-card{
    background-image: url("../img/images/retiredd__bodys.png");
    height: 45.6rem;
    padding: 10rem;
    border-radius: 5px;
    margin-bottom: 5rem;
    cursor: pointer;
    &:hover{
        scale: (1.02);
        transition: 0.4s;
        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
    }
}
@media (max-width: 834px){
    .organization-card{
        height: 40rem;
        padding: 3rem;
        padding-top: 9rem;
        border-radius: 5px;
        margin-bottom: 5rem;
    }
}
@media (max-width: 375px){
    .organization-card{
        background-repeat: no-repeat;
        background-size: cover;
        height: 52rem;
        width: 92rem;
        padding-left: 58rem;
        padding-top: 5rem;
        border-radius: 5px;
        padding-bottom: 5rem;
        position: absolute;
        right: 0rem;
    }
}