@import '../scss-utils/mixin';
@import '../scss-utils/variables';

.hero {
    .form {
        .form_row-1 {
            margin-bottom: $margin-xsmall;
        }

        .form_row-2 {
            margin-bottom: $margin-regular;
        }
    }

    .hero_btn {
        margin-top: $margin-mediumxx8xR;
        @include respond-to('phone') {
            margin-top: $margin-xsmall9xR;
            margin-left: auto;
            margin-right: auto;
        }
    }
}