@import "../scss-utils/variables";
@import "../scss-utils/mixin";

.main:before {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 50vw;
    background: linear-gradient(180deg, #d4e8fd 0%, rgba(212, 232, 253, 0) 100%);
}
.main:after {
    content: "";
    position: absolute;
    bottom: -12%;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(180deg, #d4e8fd 0%, rgba(212, 232, 253, 0) 100%);
    transform: rotate(180deg);
}

.main{
    position: relative;

}