@import "../scss-utils/variables";
@import "../scss-utils/_mixin";
@import "../base/_reset";

.main{
    margin-top: $margin-medium;
    .container{
        .main-contant{
            .card-title{
                font-size: $margin-small;
                color: $clr-white;
                font-weight: 700;
                margin-bottom: 3rem;
            }
            .card-info{
                font-size: 1.6rem;
                color: $clr-white;
                line-height: 2.5rem;
                width: 60rem;
                &:hover{
                    color: red;
                    transition: 0.3s;
                }
            }
            .price-cremation{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 40rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .price-title{
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: $clr-primary-blue;
                    text-align: center;
                    margin-bottom: 3rem;
                }
                .price-text{
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                    margin-top: 2rem;
                    &:hover{
                        color: red;
                        transition: 0.3s;
                    }
                }
                .price-word{
                    font-size: 1.6rem;
                    font-weight: 300;
                    margin-top: 1rem;
                }
                .stages-word__line{
                    margin-top: 1rem;
                    @include flex-row-center();
                    .box{
                        width: 1.2rem;
                        height: 1.2rem;
                        background: $clr-primary-blue;
                        border-radius: 1rem;
                    }
                    .bop-word{
                        margin-left: 1rem;
                        @include text-info();
                    }
                }
                .price-text__two{
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 2.5rem;
                    margin-top: 1rem;
                    &:hover{
                        color: red;
                        transition: 0.3s;
                    }
                }
            }

            .prime-cremation{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 75rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .title{
                    @include title();
                }
                .text{
                    @include text-info();
                } 
                .word{
                    @include text-info();
                    margin-top: 1rem;
                    margin-bottom: 4rem;
                }
                .texts{
                    @include text-info();
                    margin-top: 2rem;
                }
                .ordering-line{
                    @include flex-sapce-bw();

                    .line-card{
                        width: 55rem;
                        &:last-child{
                            margin-left: 2rem;
                        }
                        img{
                            margin-left: 26rem;
                        }
                        .card-text{
                            @include text-info();
                            margin-top: 1rem;
                        }
                    }
                }   
                .ordering-line__two{
                    @include flex-sapce-bw();
                    margin-top: 3rem;
                    .line-card{
                        width: 55rem;
                        &:last-child{
                            margin-left: 2rem;
                        }
                        img{
                            margin-left: 26rem;
                        }
                        .card-text{
                            @include text-info();
                            margin-top: 1rem;
                        }
                    }
                }   
            }

            .cremation{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 34rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .title{
                    @include title();
                }
                .word{
                    @include text-info();
                }
                .stages-word__line{
                    margin-top: 1rem;
                    @include flex-row-center();
                    .box{
                        width: 1.2rem;
                        height: 1.2rem;
                        background: $clr-primary-blue;
                        border-radius: 1rem;
                    }
                    .bop-word{
                        margin-left: 1rem;
                        @include text-info();
                    }
                }
                .text{
                    @include text-info();
                    margin-top: 1rem;
                }
            }

            .document-cremation{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 50rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .title{
                    @include title();
                }
                .text{
                    @include text-info();
                }
                .word{
                    margin-top: 3rem;
                    @include text-info();
                    text-align: center;
                    margin-bottom: 2rem;
                }
                .text-line{
                    display: flex;
                    .text-one{
                        width: 55rem;
                        @include text-info();
                    }
                    .text-two{
                        width: 55rem;
                        @include text-info();
                    }
                }
            }

            .damage{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 34rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .title{
                    @include title();
                }
                .word{
                    @include text-info();
                }
                .stages-word__line{
                    margin-top: 1rem;
                    @include flex-row-center();
                    .box{
                        width: 1.2rem;
                        height: 1.2rem;
                        background: $clr-primary-blue;
                        border-radius: 1rem;
                    }
                    .bop-word{
                        margin-left: 1rem;
                        @include text-info();
                    }
                }
                .text{
                    @include text-info();
                    margin-top: 1rem;
                }
            }

            .after-cremation{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 78rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .title{
                    @include title();
                }
                .text{
                    @include text-info();
                }
                .min-title{
                    text-align: center;
                    @include title-min();
                    margin-bottom: 2rem;
                }
                .text-two{
                    @include text-info();
                }
                .word{
                    @include text-info();
                }
                .stages-word__line{
                    margin-top: 1rem;
                    @include flex-row-center();
                    .box{
                        width: 1.2rem;
                        height: 1.2rem;
                        background: $clr-primary-blue;
                        border-radius: 1rem;
                    }
                    .bop-word{
                        margin-left: 1rem;
                        @include text-info();
                    }
                }
            }

            .how-to__order{
                border: 1px solid #E1E1E1;
                margin-top: 5rem;
                height: 24rem;
                padding: 3rem;
                border-radius: 5px;
                cursor: pointer;
                &:hover{
                    scale: (1.02);
                    transition: 0.4s;
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                    box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                }
                .order-title{
                    @include title();
                }
                .text{
                    @include text-info();
                }
                .text-two{
                    @include text-info();
                    margin-top: 1rem;
                }
            }
            .block{
                height: 7.5rem;
            }
        }
    }
}

@media (max-width: 834px){
    .main{
        margin-top: $margin-medium;
        .container{
            max-width: $container-width-tablet;
            width: 100%;
            margin: 0 auto;
            .main-contant{
                .card-title{
                    font-size: $margin-small;
                    color: $clr-white;
                    font-weight: 700;
                    margin-bottom: 3rem;
                }
                .card-info{
                    font-size: 1.6rem;
                    color: $clr-white;
                    line-height: 2.5rem;
                    width: 58rem;
                    &:hover{
                        color: red;
                        transition: 0.3s;
                    }
                }
                .price-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 48rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .price-title{
                        font-size: 2.4rem;
                        font-weight: 700;
                        color: $clr-primary-blue;
                        text-align: center;
                        margin-bottom: 3rem;
                    }
                    .price-text{
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 2.5rem;
                        margin-top: 2rem;
                        &:hover{
                            color: red;
                            transition: 0.3s;
                        }
                    }
                    .price-word{
                        font-size: 1.6rem;
                        font-weight: 300;
                        margin-top: 1rem;
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .price-text__two{
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 2.5rem;
                        margin-top: 1rem;
                        &:hover{
                            color: red;
                            transition: 0.3s;
                        }
                    }
                }
    
                .prime-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 101rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    } 
                    .word{
                        @include text-info();
                        margin-top: 1rem;
                        margin-bottom: 4rem;
                    }
                    .texts{
                        @include text-info();
                        margin-top: 2rem;
                    }
                    .ordering-line{
                        @include flex-sapce-bw();
    
                        .line-card{
                            width: 55rem;
                            &:last-child{
                                margin-left: 2rem;
                            }
                            img{
                                margin-left: 26rem;
                            }
                            .card-text{
                                @include text-info();
                                margin-top: 1rem;
                            }
                        }
                    }   
                    .ordering-line__two{
                        @include flex-sapce-bw();
                        margin-top: 3rem;
                        .line-card{
                            width: 55rem;
                            &:last-child{
                                margin-left: 2rem;
                            }
                            img{
                                margin-left: 26rem;
                            }
                            .card-text{
                                @include text-info();
                                margin-top: 1rem;
                            }
                        }
                    }   
                }
    
                .cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 42rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .text{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
    
                .document-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 64rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .word{
                        margin-top: 3rem;
                        @include text-info();
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                    .text-line{
                        display: block;
                        .text-one{
                            width: 71rem;
                            @include text-info();
                        }
                        .text-two{
                            width: 71rem;
                            @include text-info();
                            margin-top: 1rem;
                        }
                    }
                }
    
                .damage{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 39rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .text{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
    
                .after-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 98rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .min-title{
                        text-align: center;
                        @include title-min();
                        margin-bottom: 2rem;
                    }
                    .text-two{
                        @include text-info();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                }
    
                .how-to__order{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 33rem;
                    padding: 3rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .order-title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .text-two{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
                .block{
                    height: 7.5rem;
                }
            }
        }
    }
}

@media (max-width: 375px){
    .main{
        margin-top: $margin-medium;
        .container{
            max-width: $container-width-phone;
            width: 100%;
            margin: 0 auto;
            .main-contant{
                .card-title{
                    font-size: $margin-small;
                    color: $clr-white;
                    font-weight: 700;
                    margin-bottom: 3rem;
                    width: 32rem;
                    text-align: none;
                }
                .card-info{
                    font-size: 1.6rem;
                    color: $clr-white;
                    line-height: 2.5rem;
                    width: 58rem;
                    width: 32.8rem;
                    &:hover{
                        color: red;
                        transition: 0.3s;
                    }
                }
                .blockloc{
                    height: 52rem;
                }
                .price-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 78rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .price-title{
                        font-size: 2.4rem;
                        font-weight: 700;
                        color: $clr-primary-blue;
                        text-align: center;
                        margin-bottom: 3rem;
                    }
                    .price-text{
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 2.5rem;
                        margin-top: 2rem;
                        &:hover{
                            color: red;
                            transition: 0.3s;
                        }
                    }
                    .price-word{
                        font-size: 1.6rem;
                        font-weight: 300;
                        margin-top: 1rem;
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .price-text__two{
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 2.5rem;
                        margin-top: 1rem;
                        &:hover{
                            color: red;
                            transition: 0.3s;
                        }
                    }
                }
    
                .prime-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 203rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    } 
                    .word{
                        @include text-info();
                        margin-top: 1rem;
                        margin-bottom: 4rem;
                    }
                    .texts{
                        @include text-info();
                        margin-top: 2rem;
                    }
                    .ordering-line{
                        display: block;
    
                        .line-card{
                            width: 31rem;
                            &:last-child{
                                margin-left: 0rem;
                                margin-top: 3rem;
                            }
                            img{
                                margin-left: 15rem;
                            }
                            .card-text{
                                @include text-info();
                                margin-top: 1rem;
                            }
                        }
                    }   
                    .ordering-line__two{
                        display: block;
                        margin-top: 3rem;
                        .line-card{
                            width: 31rem;
                            &:last-child{
                                margin-left: 0rem;
                                margin-top: 3rem;
                            }
                            img{
                                margin-left: 15rem;
                            }
                            .card-text{
                                @include text-info();
                                margin-top: 1rem;
                            }
                        }
                    }   
                }
    
                .cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 78rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.5rem;
                            height: 1rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .text{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
    
                .document-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 116rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .word{
                        margin-top: 3rem;
                        @include text-info();
                        text-align: center;
                        margin-bottom: 2rem;
                    }
                    .text-line{
                        display: block;
                        .text-one{
                            width: 31rem;
                            @include text-info();
                        }
                        .text-two{
                            width: 31rem;
                            @include text-info();
                            margin-top: 1rem;
                        }
                    }
                }
    
                .damage{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 64rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                    .text{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
    
                .after-cremation{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 162rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .min-title{
                        text-align: center;
                        @include title-min();
                        margin-bottom: 2rem;
                    }
                    .text-two{
                        @include text-info();
                    }
                    .word{
                        @include text-info();
                    }
                    .stages-word__line{
                        margin-top: 1rem;
                        @include flex-row-center();
                        .box{
                            width: 1.2rem;
                            height: 1.2rem;
                            background: $clr-primary-blue;
                            border-radius: 1rem;
                        }
                        .bop-word{
                            margin-left: 1rem;
                            @include text-info();
                        }
                    }
                }
    
                .how-to__order{
                    border: 1px solid #E1E1E1;
                    margin-top: 5rem;
                    height: 59rem;
                    padding: 2.2rem 0.8rem;
                    border-radius: 5px;
                    &:hover{
                        scale: (1.02);
                        transition: 0.4s;
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                        -moz-box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.00);
                        box-shadow: 0px -10px 62px -28px rgba(0,0,0,0.90);
                    }
                    .order-title{
                        @include title();
                    }
                    .text{
                        @include text-info();
                    }
                    .text-two{
                        @include text-info();
                        margin-top: 1rem;
                    }
                }
                .block{
                    height: 7.5rem;
                }
            }
        }
    }
}